main{
    background-color: #F0F4F9;
    height: 450px;
    padding: 30px;
}
main .content{
    background-color: #21252900;
    line-height: 1.3;
}
main .content h5{
    font-size: 16px;
    font-weight: bold;
    color:#FDC800;
}
main .content h1{
    font-size: 40px;
    font-weight: bold;
    color: #002147;
}

main .fields{
    line-height:1.8;
    margin-top: 20px;
}
main .fields h6{
    font-size: 13px;
    
    color: #002147;
}
main .fie{
    display: flex;
    align-items: center;
    gap: 2rem;
}
main form select{
    width: 240px;
    height: 30px;
    border: 1.5px solid #9e9e9e88;
    padding: 0px 10px;
    border-radius: 5px;
}